<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>中青公益-社交账号绑定</title>
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    <link rel="stylesheet" type="text/css" href="../css/ucenter.css">
</head>
<body>
<!-- header[ -->
<div id="header">
    <div class="header-content">
        <h1 class="header-logo"><a href="#"></a></h1>
        <ul class="header-nav">
            <li class="cur"><a href="#">首页</a></li>
            <li><a href="#">公益资讯</a></li>
            <li><a href="#">公益活动</a></li>
        </ul>
        <div class="login-regist hidden">
            <a href="#" class="btn-login">登录</a>
            <i>/</i>
            <a href="#" class="btn-regist">注册</a>
        </div>
        <div class="header-menu">
            <ul>
                <li class="uname">
                    <a href="#">张三</a>
                    <div class="sub-menu">
                        <a href="#">主页</a>
                        <a href="#">设置</a>
                        <a href="#">退出</a>
                    </div>
                </li>
                <li class="uletter"><a href="#">私信</a></li>
                <li class="unotice"><a href="#">通知<i>[10]</i></a></li>
            </ul>
        </div>
    </div>
</div><!-- ]header -->
<div class="gy-wraper accountbind-main">
    <!-- ucenter-sidebar[ -->
    <div class="ucenter-sidebar">
        <h3 class="ucenter-title">活动管理</h3>
        <div class="ucenter-nav message-center">
            <ul>
                <li class="cur"><a href="my_notice.html">我发起的活动</a></li>
                <li><a href="my_notice.html">我参与的活动</a></li>
            </ul>
        </div>
        <h3 class="ucenter-title">我的文章</h3>
        <div class="ucenter-nav message-center">
            <ul>
                <li><a href="my_notice.html">我的文章</a></li>
            </ul>
        </div>
        <h3 class="ucenter-title">账户设置</h3>
        <div class="ucenter-nav account-setting">
            <ul>
                <li><a href="my_info.html">我的资料</a></li>
                <li><a href="setting_photo.html">头像设置</a></li>
                <li><a href="account_safe.html">账户安全</a></li>
                <li><a href="account_bind.html">社交账号绑定</a></li>
                <li><a href="authentication.html">V认证</a></li>
            </ul>
        </div>
        <h3 class="ucenter-title">消息中心</h3>
        <div class="ucenter-nav message-center">
            <ul>
                <li><a href="my_notice.html">我的通知</a></li>
                <li><a href="my_letter.html">我的私信</a></li>
            </ul>
        </div>
    </div><!-- ]ucenter-sidebar -->
    <!-- ucenter-content[ -->
    <div class="ucenter-content">
        <h3 class="ucenter-title">账户设置/社交账号绑定</h3>
        <div class="account-bind weibo">
            <div class="bind-icon istrue"></div>
            <div class="bind-tips">
                <span>已绑定微信</span>
                <span>绑定账号: <i>sdfsdfsf</i></span>
            </div>
            <div class="bind-btn istrue">
                解除绑定
                <span class="pop-tips">
                    尚未绑定手机,无法接触绑定
                </span>
            </div>
        </div>
        <div class="account-bind weixin">
            <div class="bind-icon istrue"></div>
            <div class="bind-tips">
                <span>已绑定微信</span>
                <span>绑定账号: <i>sdfsdfsf</i></span>
            </div>
            <div class="bind-btn istrue">
                解除绑定
            </div>
        </div>
        <div class="account-bind qq">
            <div class="bind-icon isfalse"></div>
            <div class="bind-tips">
                <span>尚未绑定QQ</span>
            </div>
            <div class="bind-btn isfalse">
                立即绑定
            </div>
        </div>
    </div><!-- ]ucenter-content -->
</div>
<!-- footer[ -->
<div id="footer">
    <h3>中青公益——国家志愿者公益服务支撑平台</h3>
    <p>联系电话：010-64098678    公益合作：zqgy@zqgongyi.org     媒体合作：zqgymedia@zqgongyi.org </p>
    <p>CopyRight©2012 - 2016  zqgongyi.org All Right Reserved     主管单位：中国青年报社     主办单位：中青华云    京ICP备13034192号</p>
</div><!-- ]footer -->
</body>
<script type="text/javascript" src="/src/js/libs/sea.js"></script>
<script type="text/javascript" src="/src/js/common.js"></script>
<script type="text/javascript">
    //seajs.use('ucenter');
</script>
</html>