<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>中青公益-中青动态</title>
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    <link rel="stylesheet" type="text/css" href="../css/dynamic.css">
</head>
<body>
<!-- header[ -->
<div id="header">
    <div class="header-content">
        <h1 class="header-logo"><a href="#"></a></h1>
        <ul class="header-nav">
            <li class="cur"><a href="#">首页</a></li>
            <li><a href="#">公益资讯</a></li>
            <li><a href="#">公益活动</a></li>
        </ul>
        <div class="login-regist hidden">
            <a href="#" class="btn-login">登录</a>
            <i>/</i>
            <a href="#" class="btn-regist">注册</a>
        </div>
        <div class="header-menu">
            <ul>
                <li class="uname">
                    <a href="#">张三</a>
                    <div class="sub-menu">
                        <a href="#">主页</a>
                        <a href="#">设置</a>
                        <a href="#">退出</a>
                    </div>
                </li>
                <li class="uletter"><a href="#">私信</a></li>
                <li class="unotice"><a href="#">通知<i>[10]</i></a></li>
            </ul>
        </div>
    </div>
</div><!-- ]header -->
<div class="gy-wraper">
    <h3 class="big-title">中青公益/公益资讯/中青动态</h3>
    <div class="main clearfix">
        <div class="main-left">
            <div class="dynamic-list">
                <ul>
                    <li>
                        <h3><a href="#">关于推进社会工作者与志愿者联动工作的实施意见</a></h3>
                        <div class="dynamic-info">
                            <img src="../images/users.jpg" class="user-photo" alt="">
                            <span class="name-time">王五 2016-08-12 12:00:00</span>
                            <span class="read-num">(109090)</span>
                            <span class="zan-num">(232)</span>
                        </div>
                    </li>
                    <li>
                        <h3><a href="#">关于推进社会工作者与志愿者联动工作的实施意见</a></h3>
                        <p>
                            关于推进社会工作者与志愿者联动工作的实施意见为贯彻落实中央和省委省政府关于加强社会工作专业人才队伍
                            建设和志愿服务事业发展的精神和整体战略部署，有效整合社会工作者（以下简称社工).<a href="#">阅读全文</a>
                        </p>
                        <div class="dynamic-info">
                            <img src="../images/users.jpg" class="user-photo" alt="">
                            <span class="name-time">王五 2016-08-12 12:00:00</span>
                            <span class="read-num">(109090)</span>
                            <span class="zan-num">(232)</span>
                        </div>
                    </li>
                    <li>
                        <h3><a href="#">关于推进社会工作者与志愿者联动工作的实施意见</a></h3>
                        <p>
                            关于推进社会工作者与志愿者联动工作的实施意见为贯彻落实中央和省委省政府关于加强社会工作专业人才队伍
                            建设和志愿服务事业发展的精神和整体战略部署，有效整合社会工作者（以下简称社工).<a href="#">阅读全文</a>
                        </p>
                        <div class="dynamic-info">
                            <img src="../images/users.jpg" class="user-photo" alt="">
                            <span class="name-time">王五 2016-08-12 12:00:00</span>
                            <span class="read-num">(109090)</span>
                            <span class="zan-num">(232)</span>
                        </div>
                    </li>
                    <li>
                        <h3><a href="#">关于推进社会工作者与志愿者联动工作的实施意见</a></h3>
                        <p>
                            关于推进社会工作者与志愿者联动工作的实施意见为贯彻落实中央和省委省政府关于加强社会工作专业人才队伍
                            建设和志愿服务事业发展的精神和整体战略部署，有效整合社会工作者（以下简称社工).<a href="#">阅读全文</a>
                        </p>
                        <div class="dynamic-info">
                            <img src="../images/users.jpg" class="user-photo" alt="">
                            <span class="name-time">王五 2016-08-12 12:00:00</span>
                            <span class="read-num">(109090)</span>
                            <span class="zan-num">(232)</span>
                        </div>
                    </li>
                    <li>
                        <h3><a href="#">关于推进社会工作者与志愿者联动工作的实施意见</a></h3>
                        <p>
                            关于推进社会工作者与志愿者联动工作的实施意见为贯彻落实中央和省委省政府关于加强社会工作专业人才队伍
                            建设和志愿服务事业发展的精神和整体战略部署，有效整合社会工作者（以下简称社工).<a href="#">阅读全文</a>
                        </p>
                        <div class="dynamic-info">
                            <img src="../images/users.jpg" class="user-photo" alt="">
                            <span class="name-time">王五 2016-08-12 12:00:00</span>
                            <span class="read-num">(109090)</span>
                            <span class="zan-num">(232)</span>
                        </div>
                    </li>
                    <li>
                        <h3><a href="#">关于推进社会工作者与志愿者联动工作的实施意见</a></h3>
                        <p>
                            关于推进社会工作者与志愿者联动工作的实施意见为贯彻落实中央和省委省政府关于加强社会工作专业人才队伍
                            建设和志愿服务事业发展的精神和整体战略部署，有效整合社会工作者（以下简称社工).<a href="#">阅读全文</a>
                        </p>
                        <div class="dynamic-info">
                            <img src="../images/users.jpg" class="user-photo" alt="">
                            <span class="name-time">王五 2016-08-12 12:00:00</span>
                            <span class="read-num">(109090)</span>
                            <span class="zan-num">(232)</span>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="info-paging">
                <a href="#" class="cur">11</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">></a>
                <a href="">>></a>
            </div>
        </div>
        <div class="main-right">
            <h3 class="block-title">推荐阅读</h3>
            <div class="block">
                <ul class="block-list">
                    <li><a href="#">中青公益“爱的旅程”走进甘肃——“一路向西”助学行</a></li>
                    <li><a href="#">中青公益“爱的旅程”走进甘肃——“一路向西”助学行</a></li>
                    <li><a href="#">中青公益“爱的旅程”走进甘肃——“一路向西”助学行</a></li>
                    <li><a href="#">中青公益“爱的旅程”走进甘肃——“一路向西”助学行</a></li>
                    <li><a href="#">中青公益“爱的旅程”走进甘肃——“一路向西”助学行</a></li>
                    <li><a href="#">中青公益“爱的旅程”走进甘肃——“一路向西”助学行</a></li>
                    <li><a href="#">中青公益“爱的旅程”走进甘肃——“一路向西”助学行</a></li>
                </ul>
            </div>

            <h3 class="block-title">频道热文</h3>
            <div class="block">
                <ul class="block-list">
                    <li><a href="#">中青公益“爱的旅程”走进甘肃——“一路向西”助学行</a></li>
                    <li><a href="#">中青公益“爱的旅程”走进甘肃——“一路向西”助学行</a></li>
                    <li><a href="#">中青公益“爱的旅程”走进甘肃——“一路向西”助学行</a></li>
                    <li><a href="#">中青公益“爱的旅程”走进甘肃——“一路向西”助学行</a></li>
                    <li><a href="#">中青公益“爱的旅程”走进甘肃——“一路向西”助学行</a></li>
                    <li><a href="#">中青公益“爱的旅程”走进甘肃——“一路向西”助学行</a></li>
                    <li><a href="#">中青公益“爱的旅程”走进甘肃——“一路向西”助学行</a></li>
                </ul>
            </div>

            <h3 class="block-title">最新文章</h3>
            <div class="block">
                <ul class="block-list">
                    <li><a href="#">中青公益“爱的旅程”走进甘肃——“一路向西”助学行</a></li>
                    <li><a href="#">中青公益“爱的旅程”走进甘肃——“一路向西”助学行</a></li>
                    <li><a href="#">中青公益“爱的旅程”走进甘肃——“一路向西”助学行</a></li>
                    <li><a href="#">中青公益“爱的旅程”走进甘肃——“一路向西”助学行</a></li>
                    <li><a href="#">中青公益“爱的旅程”走进甘肃——“一路向西”助学行</a></li>
                    <li><a href="#">中青公益“爱的旅程”走进甘肃——“一路向西”助学行</a></li>
                    <li><a href="#">中青公益“爱的旅程”走进甘肃——“一路向西”助学行</a></li>
                </ul>
            </div>

            <div class="contribute clearfix">
                <a href="#">在线投稿</a>
                <span>
                    <i>公益稿件请投递至：</i>
                    <i>zqgymedie@zqgongyi.org</i>
                </span>
            </div>
        </div>
    </div>
</div>
<!-- footer[ -->
<div id="footer">
    <h3>中青公益——国家志愿者公益服务支撑平台</h3>
    <p>联系电话：010-64098678    公益合作：zqgy@zqgongyi.org     媒体合作：zqgymedia@zqgongyi.org </p>
    <p>CopyRight©2012 - 2016  zqgongyi.org All Right Reserved     主管单位：中国青年报社     主办单位：中青华云    京ICP备13034192号</p>
</div><!-- ]footer -->
</body>
</html>