<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中青公益-首页</title>
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
<!-- header[ -->
<div id="header">
    <div class="header-content">
        <h1 class="header-logo"><a href="#"></a></h1>
        <ul class="header-nav">
            <li class="cur"><a href="#">首页</a></li>
            <li><a href="#">公益资讯</a></li>
            <li><a href="#">公益活动</a></li>
        </ul>
        <div class="login-regist hidden">
            <a href="#" class="btn-login">登录</a>
            <i>/</i>
            <a href="#" class="btn-regist">注册</a>
        </div>
        <div class="header-menu">
            <ul>
                <li class="uname">
                    <a href="#">张三</a>
                    <div class="sub-menu">
                        <a href="#">主页</a>
                        <a href="#">设置</a>
                        <a href="#">退出</a>
                    </div>
                </li>
                <li class="uletter"><a href="#">私信</a></li>
                <li class="unotice"><a href="#">通知<i>[10]</i></a></li>
            </ul>
        </div>
    </div>
</div><!-- ]header -->
<div class="gy-wraper">
    <!-- 焦点图[ -->
    <div class="slider">
        <ul>
            <li><a href="#"><img src="../images/1.jpg"><span>有时候,有时候,有时候111.</span></a></li>
            <li><a href="#"><img src="../images/2.jpg"><span>有时候,有时候,有时候222.</span></a></li>
            <li><a href="#"><img src="../images/3.jpg"><span>有时候,有时候,有时候333.</span></a></li>
        </ul>
        <div class="btn-prev"></div>
        <div class="btn-next"></div>
        <div class="btn-controll"></div>
    </div><!-- ]焦点图 -->

    <!-- 动态-资讯-法规-新闻[ -->
    <div class="gy-news clearfix">
        <!-- 一个栏目[ -->
        <div class="column">
            <h3 class="column-title">
                <span><i>中青动态</i></span>
                <a href="#">更多</a>
            </h3>
            <div class="column-figure">
                <a href="#"><img src="../images/1.jpg"></a>
                <div class="column-text">
                    <h3><a href="#">中青公益亮相第四届慈善交流会</a></h3>
                    <p>
                        第四届中国公益慈善项目交流展示会在深圳会
                        展中心举行，民政部部长、中国慈联合会会长
                        李立国，广东省委副书记、深圳市委书记马兴
                        瑞，等领导参观了本届慈展会的展馆。
                    </p>
                    <span>2016-01-01 12 : 00</span>
                </div>
            </div>
            <ul class="column-list">
                <li>
                    <a href="#">今天天气真好适合睡觉!</a>
                    <span>2016-01-01 12 : 00</span>
                </li>
                <li>
                    <a href="#">今天天气真好适合睡觉!</a>
                    <span>2016-01-01 12 : 00</span>
                </li>
                <li>
                    <a href="#">今天天气真好适合睡觉!</a>
                    <span>2016-01-01 12 : 00</span>
                </li>
                <li>
                    <a href="#">今天天气真好适合睡觉!</a>
                    <span>2016-01-01 12 : 00</span>
                </li>
            </ul>
        </div><!-- ]一个栏目 -->
        <!-- 一个栏目[ -->
        <div class="column">
            <h3 class="column-title">
                <span><i>中青动态</i></span>
                <a href="#">更多</a>
            </h3>
            <div class="column-figure">
                <a href="#"><img src="../images/1.jpg"></a>
                <div class="column-text">
                    <h3><a href="#">中青公益亮相第四届慈善交流会</a></h3>
                    <p>
                        第四届中国公益慈善项目交流展示会在深圳会
                        展中心举行，民政部部长、中国慈联合会会长
                        李立国，广东省委副书记、深圳市委书记马兴
                        瑞，等领导参观了本届慈展会的展馆。
                    </p>
                    <span>2016-01-01 12 : 00</span>
                </div>
            </div>
            <ul class="column-list">
                <li>
                    <a href="#">今天天气真好适合睡觉!</a>
                    <span>2016-01-01 12 : 00</span>
                </li>
                <li>
                    <a href="#">今天天气真好适合睡觉!</a>
                    <span>2016-01-01 12 : 00</span>
                </li>
                <li>
                    <a href="#">今天天气真好适合睡觉!</a>
                    <span>2016-01-01 12 : 00</span>
                </li>
                <li>
                    <a href="#">今天天气真好适合睡觉!</a>
                    <span>2016-01-01 12 : 00</span>
                </li>
            </ul>
        </div><!-- ]一个栏目 -->
        <!-- 一个栏目[ -->
        <div class="column">
            <h3 class="column-title">
                <span><i>中青动态</i></span>
                <a href="#">更多</a>
            </h3>
            <div class="column-figure">
                <a href="#"><img src="../images/1.jpg"></a>
                <div class="column-text">
                    <h3><a href="#">中青公益亮相第四届慈善交流会</a></h3>
                    <p>
                        第四届中国公益慈善项目交流展示会在深圳会
                        展中心举行，民政部部长、中国慈联合会会长
                        李立国，广东省委副书记、深圳市委书记马兴
                        瑞，等领导参观了本届慈展会的展馆。
                    </p>
                    <span>2016-01-01 12 : 00</span>
                </div>
            </div>
            <ul class="column-list">
                <li>
                    <a href="#">今天天气真好适合睡觉!</a>
                    <span>2016-01-01 12 : 00</span>
                </li>
                <li>
                    <a href="#">今天天气真好适合睡觉!</a>
                    <span>2016-01-01 12 : 00</span>
                </li>
                <li>
                    <a href="#">今天天气真好适合睡觉!</a>
                    <span>2016-01-01 12 : 00</span>
                </li>
                <li>
                    <a href="#">今天天气真好适合睡觉!</a>
                    <span>2016-01-01 12 : 00</span>
                </li>
            </ul>
        </div><!-- ]一个栏目 -->
        <!-- 一个栏目[ -->
        <div class="column">
            <h3 class="column-title">
                <span><i>中青动态</i></span>
                <a href="#">更多</a>
            </h3>
            <div class="column-figure">
                <a href="#"><img src="../images/1.jpg"></a>
                <div class="column-text">
                    <h3><a href="#">中青公益亮相第四届慈善交流会</a></h3>
                    <p>
                        第四届中国公益慈善项目交流展示会在深圳会
                        展中心举行，民政部部长、中国慈联合会会长
                        李立国，广东省委副书记、深圳市委书记马兴
                        瑞，等领导参观了本届慈展会的展馆。
                    </p>
                    <span>2016-01-01 12 : 00</span>
                </div>
            </div>
            <ul class="column-list">
                <li>
                    <a href="#">今天天气真好适合睡觉!</a>
                    <span>2016-01-01 12 : 00</span>
                </li>
                <li>
                    <a href="#">今天天气真好适合睡觉!</a>
                    <span>2016-01-01 12 : 00</span>
                </li>
                <li>
                    <a href="#">今天天气真好适合睡觉!</a>
                    <span>2016-01-01 12 : 00</span>
                </li>
                <li>
                    <a href="#">今天天气真好适合睡觉!</a>
                    <span>2016-01-01 12 : 00</span>
                </li>
            </ul>
        </div><!-- ]一个栏目 -->
    </div><!-- ]动态-资讯-法规-新闻 -->


    <!-- 公益活动[ -->
    <div class="gy-actives">
        <h3 class="column-title">
            <span><i class="cur">推荐活动</i><i>最新活动</i></span>
            <a href="#">更多</a>
        </h3>
        <ul class="actives clearfix">
            <li>
                <a href="#"><img src="../images/2.jpg" class="active-pic"></a>
                <h3><a href="#">一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧~</a></h3>
                <p>北京-北京-东城区</p>
                <p>中青公益</p>
                <p>距离报名截止时间：<i>5天</i></p>
            </li>
            <li>
                <a href="#"><img src="../images/2.jpg" class="active-pic"></a>
                <h3><a href="#">一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧~</a></h3>
                <p>北京-北京-东城区</p>
                <p>中青公益</p>
                <p>距离报名截止时间：<i>5天</i></p>
            </li>
            <li>
                <a href="#"><img src="../images/2.jpg" class="active-pic"></a>
                <h3><a href="#">一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧~</a></h3>
                <p>北京-北京-东城区</p>
                <p>中青公益</p>
                <p>距离报名截止时间：<i>5天</i></p>
            </li>
            <li>
                <a href="#"><img src="../images/2.jpg" class="active-pic"></a>
                <h3><a href="#">一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧~</a></h3>
                <p>北京-北京-东城区</p>
                <p>中青公益</p>
                <p>距离报名截止时间：<i>5天</i></p>
            </li>
            <li>
                <a href="#"><img src="../images/2.jpg" class="active-pic"></a>
                <h3><a href="#">一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧~</a></h3>
                <p>北京-北京-东城区</p>
                <p>中青公益</p>
                <p>距离报名截止时间：<i>5天</i></p>
            </li>
            <li>
                <a href="#"><img src="../images/2.jpg" class="active-pic"></a>
                <h3><a href="#">一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧~</a></h3>
                <p>北京-北京-东城区</p>
                <p>中青公益</p>
                <p>距离报名截止时间：<i>5天</i></p>
            </li>
            <li>
                <a href="#"><img src="../images/2.jpg" class="active-pic"></a>
                <h3><a href="#">一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧~</a></h3>
                <p>北京-北京-东城区</p>
                <p>中青公益</p>
                <p>距离报名截止时间：<i>5天</i></p>
            </li>
            <li>
                <a href="#"><img src="../images/2.jpg" class="active-pic"></a>
                <h3><a href="#">一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧一起去做公益吧~</a></h3>
                <p>北京-北京-东城区</p>
                <p>中青公益</p>
                <p>距离报名截止时间：<i>5天</i></p>
            </li>
        </ul>
    </div><!-- ]公益活动 -->

    <h3 class="big-title">公益组织</h3>
    <!-- 公益组织[ -->
    <div class="gy-organization column-slider">
        <div class="btn-prev"></div>
        <div class="btn-next"></div>
        <div class="slider-wraper">
            <ul>
                <li>
                    <a href="#"><img src="../images/users.jpg"></a>
                    <span>张三李四王五1</span>
                </li>
                <li>
                    <a href="#"><img src="../images/users.jpg"></a>
                    <span>张三李四王五2</span>
                </li>
                <li>
                    <a href="#"><img src="../images/users.jpg"></a>
                    <span>张三李四王五3</span>
                </li>
                <li>
                    <a href="#"><img src="../images/users.jpg"></a>
                    <span>张三李四王五4</span>
                </li>
                <li>
                    <a href="#"><img src="../images/users.jpg"></a>
                    <span>张三李四王五5</span>
                </li>
                <li>
                    <a href="#"><img src="../images/users.jpg"></a>
                    <span>张三李四王五6</span>
                </li>
                <li>
                    <a href="#"><img src="../images/users.jpg"></a>
                    <span>张三李四王五7</span>
                </li>
                <li>
                    <a href="#"><img src="../images/users.jpg"></a>
                    <span>张三李四王五8</span>
                </li>
                <li>
                    <a href="#"><img src="../images/users.jpg"></a>
                    <span>张三李四王五9</span>
                </li>
                <li>
                    <a href="#"><img src="../images/users.jpg"></a>
                    <span>张三李四王五10</span>
                </li>
            </ul>
        </div>
    </div><!-- ]公益组织 -->

    <h3 class="big-title">爱心企业</h3>
    <!-- 爱心企业[ -->
    <div class="gy-business column-slider">
        <div class="btn-prev"></div>
        <div class="btn-next"></div>
        <div class="slider-wraper">
            <ul>
                <li>
                    <a href="#"><img src="../images/users.jpg"></a>
                    <span>张三李四王五111</span>
                </li>
                <li>
                    <a href="#"><img src="../images/users.jpg"></a>
                    <span>张三李四王五222</span>
                </li>
                <li>
                    <a href="#"><img src="../images/users.jpg"></a>
                    <span>张三李四王五333</span>
                </li>
                <li>
                    <a href="#"><img src="../images/users.jpg"></a>
                    <span>张三李四王五444</span>
                </li>
                <li>
                    <a href="#"><img src="../images/users.jpg"></a>
                    <span>张三李四王五555</span>
                </li>
                <li>
                    <a href="#"><img src="../images/users.jpg"></a>
                    <span>张三李四王五666</span>
                </li>
                <li>
                    <a href="#"><img src="../images/users.jpg"></a>
                    <span>张三李四王五777</span>
                </li>
                <li>
                    <a href="#"><img src="../images/users.jpg"></a>
                    <span>张三李四王五888</span>
                </li>
                <li>
                    <a href="#"><img src="../images/users.jpg"></a>
                    <span>张三李四王五999</span>
                </li>
                <li>
                    <a href="#"><img src="../images/users.jpg"></a>
                    <span>张三李四王五1000</span>
                </li>
            </ul>
        </div>
    </div><!-- ]爱心企业 -->

    <h3 class="big-title">友情连接</h3>
    <div class="gy-friendlink">
        <ul>
            <li><a href="#">中青在线</a></li>
            <li><a href="#">中国志愿者联合会</a></li>
            <li><a href="#">中青华云</a></li>
            <li><a href="#">中青在线</a></li>
            <li><a href="#">中国志愿者联合会</a></li>
            <li><a href="#">中青华云</a></li>
            <li><a href="#">中青在线</a></li>
            <li><a href="#">中国志愿者联合会</a></li>
            <li><a href="#">中青华云</a></li>
            <li><a href="#">中青在线</a></li>
            <li><a href="#">中国志愿者联合会</a></li>
            <li><a href="#">中青在线</a></li>
            <li><a href="#">中国志愿者联合会</a></li>
            <li><a href="#">中青在线</a></li>
            <li><a href="#">中国志愿者联合会</a></li>
        </ul>
    </div>
</div>
<!-- footer[ -->
<div id="footer">
    <h3>中青公益——国家志愿者公益服务支撑平台</h3>
    <p>联系电话：010-64098678    公益合作：zqgy@zqgongyi.org     媒体合作：zqgymedia@zqgongyi.org </p>
    <p>CopyRight©2012 - 2016  zqgongyi.org All Right Reserved     主管单位：中国青年报社     主办单位：中青华云    京ICP备13034192号</p>
</div><!-- ]footer -->
</body>
<script type="text/javascript" src="/src/js/libs/sea.js"></script>
<script type="text/javascript" src="/src/js/common.js"></script>
<script type="text/javascript">
    seajs.use('index');
</script>
</html>