<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中青公益-登录</title>
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
</head>
<body>
<!-- header[ -->
<div id="header">
    <div class="header-content">
        <h1 class="header-logo"><a href="#"></a></h1>
        <ul class="header-nav">
            <li class="cur"><a href="#">首页</a></li>
            <li><a href="#">公益资讯</a></li>
            <li><a href="#">公益活动</a></li>
        </ul>
        <div class="login-regist hidden">
            <a href="#" class="btn-login">登录</a>
            <i>/</i>
            <a href="#" class="btn-regist">注册</a>
        </div>
        <div class="header-menu">
            <ul>
                <li class="uname">
                    <a href="#">张三</a>
                    <div class="sub-menu">
                        <a href="#">主页</a>
                        <a href="#">设置</a>
                        <a href="#">退出</a>
                    </div>
                </li>
                <li class="uletter"><a href="#">私信</a></li>
                <li class="unotice"><a href="#">通知<i>[10]</i></a></li>
            </ul>
        </div>
    </div>
</div><!-- ]header -->
<div class="login-main">
    <h3 class="form-title">手机登录</h3>
    <form id="formLogin" class="form" data-url="../ajax/remote.html">
        <span class="btn-com-login" data-id="0">普通登录</span>
        <input type="hidden" id="logintype" name="logintype" value="1">
        <div class="common-login hidden">
            <p class="form-item">
                <label for="usernameortel" class="label-item">账号</label>
                <input type="text" id="usernameortel" name="usernameortel" placeholder="用户名/手机号">
            </p>
            <p class="form-item">
                <label for="password" class="label-item">密码</label>
                <input type="password" id="password" name="password" placeholder="密码">
            </p>
        </div>
        <div class="message-login">
            <p class="form-item">
                <label for="telephone" class="label-item">手机号</label>
                <input type="text" id="telephone" name="telephone" placeholder="手机号">
            </p>
            <p class="form-item form-msgcode">
                <label for="msgcode" class="label-item">验证码</label>
                <input type="text" id="msgcode" name="msgcode" data-url="test.html" class="msgcode" placeholder="验证码">
                <button type="button" data-url="getMsgCodeByAjax.html" class="btn btn-default">获取短信验证码</button>
            </p>
        </div>
        <p class="form-item form-forget"><input type="checkbox" checked="checked" id="remember" name="remember"><span>记住我</span><a href="#" class="forget">忘记密码</a></p>
        <p class="form-item form-button"><button type="submit" class="btn btn-default btn-login">登录</button></p>
    </form>
    <div class="login-others">
        <h3 class="login-others-title"><span>社交账号登录</span></h3>
        <div class="login-others-ways clearfix">
            <a href="#" class="wechat"></a>
            <a href="#" class="qq"></a>
            <a href="#" class="weibo"></a>
        </div>
        <p class="login-others-tips">还没有中青公益账号?<a href="#">马上注册</a></p>
    </div>
</div>
<!-- footer[ -->
<div id="footer">
    <h3>中青公益——国家志愿者公益服务支撑平台</h3>
    <p>联系电话：010-64098678    公益合作：zqgy@zqgongyi.org     媒体合作：zqgymedia@zqgongyi.org </p>
    <p>CopyRight©2012 - 2016  zqgongyi.org All Right Reserved     主管单位：中国青年报社     主办单位：中青华云    京ICP备13034192号</p>
</div><!-- ]footer -->
</body>
<script type="text/javascript" src="/src/js/libs/sea.js"></script>
<script type="text/javascript" src="/src/js/common.js"></script>
<script type="text/javascript">
    seajs.use('login');
</script>
</html>