/* 焦点图 */
.slider{
    position: relative;
    width: 100%;
    height: 500px;
}
.slider ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 3600px;
    height: 100%;
}
.slider ul:after{
    display: block;
    content: "";
    height: 0;
    clear: both;
    overflow: hidden;
}
.slider ul li{
    float: left;
    width: 750px;
    height: 100%;
}
.slider ul li a{
    position: relative;
}
.slider ul li a img{
    width: 100%;
    height: 100%;
}
.slider ul li a span{
    position: absolute;
    left: 0;
    bottom: 3px;
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    font-size: 14px;
    text-indent: 20px;
    background: url(../images/opacity.png) repeat;
}
.slider .btn-prev,
.slider .btn-next{
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 45px;
    height: 45px;
    cursor: pointer;
    margin-top: -23px;
    background: url(../images/arrow.png) no-repeat;
}
.slider .btn-prev{
    left: 10px;
}
.slider .btn-next{
    right: 10px;
    background-position: -45px 0;
}
.slider .btn-controll{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    line-height: 28px;
    text-align: right;
}
.slider .btn-controll span{
    display: inline-block;
    width: 20px;
    height: 3px;
    cursor: pointer;
    margin-right: 20px;
    background: #ffffff;
}
.slider .btn-controll span.active{
    width: 30px;
    background: #63935c;
    transition: all .3s ease-in-out;
}
/* 栏目标题 */
.block-title{
    position: relative;
    width: 100%;
    height: 30px;
}
.block-title:after{
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 0;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background: #eaeaea;

}
.block-title a,
.block-title span{
    position: absolute;
    z-index: 10;
    display: block;
    background: #ffffff;
}
.block-title span{
    top: 3px;
    color: #63935c;
    font-size: 18px;
    padding-right: 5px;
}
.block-title span i{
    margin-right: 20px;
    cursor: pointer;
}
.block-title span i.cur{
    border-bottom: 1px solid #63935c;
}
.block-title a{
    bottom: 1px;
    right: 0;
    color: #828483;
    font-size: 14px;
    padding-left: 5px;
}
/* 块 */
.block{
    margin-bottom: 25px;
    padding: 20px 30px;
    box-sizing: border-box;
    background: #ffffff;
}
/* 块1 */
.block1 .bk1-left{
    width: 750px;
    height: 380px;
    float: left;
    overflow: hidden;
}
.block1 .bk1-right{
    width: 430px;
    height: 380px;
    float: right;
}
.block-figure{
    padding:10px 0 15px;
    border-bottom: 1px solid #eeeeee;
}
.block-figure img{
    display: block;
    float: left;
    width: 150px;
    height: 100px;
}
.block-text{
    width: 210px;
    float: left;
    margin-left: 10px;
}
.block-text h3{
    max-height: 40px;
    line-height: 20px;
    overflow: hidden;
}
.block-text h3 a{
    color: #000000;
}
.block-text p{
    max-height: 48px;
    line-height: 16px;
    color: #828483;
    font-size: 12px;
    margin-top: 10px;
    overflow: hidden;
}
.block-list li{
    position: relative;
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}
.block-list li:after{
    position: absolute;
    top: 18px;
    left: 0;
    display: block;
    width: 5px;
    height: 5px;
    content: "";
    border-radius: 100%;
    background: #63935c;
}
.block-list li a{
    display: inline-block;
    max-width: 370px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #000000;
}
.block-list li a:hover{
    color: #63935c;
}
.block-list li i{
    display: block;
    float: right;
}
/* 块2 */
.block2{
    width: 100%;
    height: 150px;
    margin: 25px 0;
}
.block2 img{
    width: 100%;
    height: 100%;
}
/* main */
.main{

}
.main .main-left{
    width: 750px;
    float: left;
}
.main .main-right{
    width: 430px;
    float: right;
}
/* 人物列表 */
.people-list{
    width: 100%;
    margin-top: 15px;
    overflow: hidden;
}
.people-list ul{
    width: 710px;
}
.people-list ul li{
    width: 218px;
    height: 210px;
    float: left;
    margin-right: 14px;
    margin-bottom: 14px;
    border: 1px solid #eeeeee;
}
.people-list .people-photo{
    display: block;
    width: 68px;
    height: 68px;
    margin: 10px auto;
    border: 1px solid #eeeeee;
    border-radius: 100%;
}
.people-list .people-intrdu{
    position: relative;
    width: 100%;
    height: 120px;
    background: #eeeeee;
}
.people-list .people-intrdu:after{
    position: absolute;
    top: -8px;
    left: 108px;
    display: block;
    width: 10px;
    height: 10px;
    content: "";
    background: url(../images/arrows.png) no-repeat;
    background-position: -193px 0;
}
.people-list .people-intrdu h3{
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
}
.people-list .people-intrdu p{
    max-height: 60px;
    line-height: 20px;
    padding: 0 10px;
    color: #828483;
    font-size: 12px;
    overflow: hidden;
    box-sizing: border-box;
}
/* 预览 */
.preview{
    padding: 10px 0;
    border-bottom: 1px solid #eeeeee;
}
.preview .preview-figure img{
    display: block;
    width: 150px;
    height: 100px;
    float: left;
}
.preview .preview-figure .preview-title{
    display: block;
    width: 210px;
    float: left;
    margin-left: 10px;
}
.preview .preview-title h3{
    max-height: 40px;
    line-height: 20px;
    overflow: hidden;
    margin-bottom: 10px;
}
.preview .preview-title h3 a{
    color: #000000;
}
.preview  .preview-title span{
    color: #828483;
}
.preview .preview-text{
    max-height: 60px;
    line-height: 20px;
    text-indent: 25px;
    margin-top: 10px;
    color: #828483;
    overflow: hidden;
}
/* 关注我们 */
.follow h3{
    color: #63935c;
    font-size: 18px;
}
.follow .ewm-list{
    padding: 20px 0;
    text-align: center;
}
.follow .ewm-list img{
    display: inline-block;
    margin: 0 10px;
}
.follow .contribute{
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.follow .contribute a{
    color: #63935c;
}
.follow .contribute i{
    color: #828483;
}