/*  侧边栏
==============================================================================*/
.ucenter-title{
    color: #63935c;
    font-size: 20px;
    padding: 20px 0;
}
.ucenter-sub-title{
    position: relative;
    height: 50px;
    line-height: 50px;
    text-indent: 40px;
    margin-bottom: 1px;
    color: #63935c;
    font-size: 14px;
    background: #ffffff;
}
.ucenter-sub-title a{
    position: relative;
    display: block;
    height: 48px;
    float: left;
    text-indent: 0;
    padding: 0 10px;
    color: #828483;
    margin-left: 20px;
}
.ucenter-sub-title a.cur,
.ucenter-sub-title a:hover{
    color: #63935c;
    border-bottom: 2px solid #63935c;
}
.ucenter-sub-title a i{
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    border-radius: 100%;
    background: #ff0000;
}
.ucenter-sub-title i.tips{
    color: #FF0000;
}
.ucenter-sub-title i.icon-edit{
    position: absolute;
    top: 15px;
    right: 20px;
    width: 21px;
    height: 21px;
    cursor: pointer;
    background: url(../images/edit.png) no-repeat;
}
.ucenter-sidebar{
    width: 230px;
    float: left;
}
.ucenter-sidebar .ucenter-nav ul li{
    margin-bottom: 1px;
    border-left: 2px solid #ffffff;
    box-sizing: border-box;
    background: #ffffff;
}
.ucenter-sidebar .ucenter-nav ul li.cur,
.ucenter-sidebar .ucenter-nav ul li:hover{
    border-left-color: #63935c;
}
.ucenter-sidebar .ucenter-nav ul li.cur a{
    color: #000000;
}
.ucenter-sidebar .ucenter-nav ul li a{
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #828483;
    font-size: 16px;
}
.ucenter-sidebar .user-photo{
    width: 190px;
    height: 190px;
    padding: 20px;
    margin-top: 66px;
    background: #ffffff;
}
.ucenter-sidebar .user-photo img{
    width:100%;
}
.ucenter-sidebar .user-name{
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #63935c;
    font-size: 20px;
}
a.btn-contribute{
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 1;
    display: block;
    color: #63935c;
}
/*  右边类容区
==============================================================================*/
.ucenter-content{
    width: 950px;
    min-height: 700px;
    float: right;
}
.ucenter-content .form .form-item .label-item{
    width: 110px;
}
.ucenter-content .form .form-item input[type='text'],
.ucenter-content .form .form-item input[type='password']{
    width: 160px;
}
.ucenter-content .form .form-item.form-button button.btn{
    margin-left: 140px;
}
/* 块的样式 */
.block{position: relative;margin-bottom: 20px;}
.block .sub-block{
    padding: 30px 20px 100px 20px;
    background: #ffffff;
}
.block .list-item{
    min-height: 40px;
    line-height: 40px;
    font-size: 14px;
}
.block .list-item:after{
    display: block;
    content: "";
    height: 0;
    clear: both;
    visibility: hidden;
}
.block .list-item .item-props{
    width: 110px;
    height: 100%;
    float: left;
    text-align: right;
    color: #828483;
    margin-right: 10px;
}
.block .list-item .item-props i{
    color: #FF0000;
    font-size: 16px;
}
.block .list-item .item-input{
    width: 160px;
    height: 12px;
    padding: 14px 20px;
    border: none;
    float: left;
    border-radius: 50px;
    background: #eeeeee;
}
.block .list-item button.btn{
    display: block;
    width: 130px;
    height: 40px;
    float: left;
    border: none;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    cursor: pointer;
    border-radius: 50px;
}
.block .list-item.form-intrdu span{
    display: block;
    float: left;
    width: 700px;
    line-height: 20px;
    padding-top: 11px;
}
/*  基本信息
==============================================================================*/
.block .baseinfo-edit button.btn-add-skill{
    margin-left: 10px;
}
.block .baseinfo-edit .form .form-item{
    margin-bottom: 0;
}
.block .baseinfo-edit .form .form-skills{
    margin-bottom: 20px;
    margin-top: 8px;
}
.block .social-way{
    width: 100%;
    height: 100px;
}
.block .social-way:after{
    display: block;
    content: "";
    clear: both;
    overflow: hidden;
}
.block .social-way .way-left{
    width: 100px;
    height: 100%;
    float: left;
    text-align: center;
}
.block .social-way .way-left span.icon{
    display: block;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    background: url(../images/shejiao.png) no-repeat;
    background-size: 180px;
    background-position: -130px 2px;
}
.block .social-way .way-right{
    width: 800px;
    height: 100%;
    float: left;
}
.block .social-way .way-right p{
    line-height: 30px;
    font-size: 14px;
}
.block .social-way .way-right p i{
    color: #63935c;
}
.block .social-way .way-right img{
    display: block;
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
}
/*  设置图像
==============================================================================*/
.review-photo{
    margin: 20px 0;
}
.setphoto-main .upload{
    width: 100%;
    height: 40px;
    line-height: 40px;
}
.setphoto-main .upload .upload-btn{
    position: relative;
    width: 170px;
    height: 100%;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    float: left;
    border-radius: 50px;
    background: #63935c;
}
.setphoto-main .upload .upload-btn input{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 40px;
    opacity: 0;
    cursor: pointer;
    filter: alpha(opacity=0);
}
.setphoto-main .upload .upload-tips{
    color: #828483;
    font-size: 14px;
}
/*  账户安全
==============================================================================*/
.accountsafe-main .form .form-item.form-ckcode input,
.accountsafe-main .form .form-item.form-msgcode input{
    width: 100px;
}
.accountsafe-main .form .form-item.form-ckcode img{
    margin-left: 20px;
}
.accountsafe-main .sub-block{
    padding-left: 120px;
    box-sizing: border-box;
    background:#ffffff url(../images/reuqire.jpg) no-repeat 30px 50px;
}
.accountsafe-main .set-items{
    position: relative;
    padding: 20px 30px 20px 207px;
    margin-bottom: 20px;
}
.accountsafe-main .set-items.set-pwd{
    background:#ffffff url(../images/safe-pwd.png) no-repeat 30px center;
}
.accountsafe-main .set-items.set-tel{
    background:#ffffff url(../images/safe-tel.png) no-repeat 30px center;
}
.accountsafe-main .set-items > a{
    position: absolute;
    top: 60px;
    right: 60px;
    display: block;
    color: #63935c;
    font-size: 14px;
}
.accountsafe-main .set-items .set-tips{
    display: table-cell;
    width: 500px;
    height: 90px;
    padding: 0 20px;
    margin-left: 187px;
    border-left: 1px solid #eaeaea;
    vertical-align: middle;
}
.accountsafe-main .set-items .set-tips span{
    display: inline-block;
    width: 100%;
    font-size: 14px;
    padding: 5px 0;
}
.accountsafe-main .set-items .set-tips span i{
    color: #63935c;
}
/*  账号绑定
==============================================================================*/
.account-bind{
    position: relative;
    padding: 40px 50px 40px 120px;
    margin-bottom: 20px;
    background: #ffffff;
}
.account-bind .bind-icon{
    position: absolute;
    top: 40px;
    left: 50px;
    width: 50px;
    height: 50px;
    overflow: hidden;
}
.weibo .bind-icon.istrue{
    background: url(../images/shejiao.png) no-repeat;
    background-position: -135px 0;
}
.weibo .bind-icon.isfalse{
    background: url(../images/shejiao.png) no-repeat;
    background-position: -135px -66px;
}
.weixin .bind-icon.istrue{
    background: url(../images/shejiao.png) no-repeat;
}
.weixin .bind-icon.isfalse{
    background: url(../images/shejiao.png) no-repeat;
    background-position: 0 -66px;
}
.qq .bind-icon.istrue{
    background: url(../images/shejiao.png) no-repeat;
    background-position: -68px 0;
}
.qq .bind-icon.isfalse{
    background: url(../images/shejiao.png) no-repeat;
    background-position: -68px -66px;
}
.account-bind .bind-tips{
    display: table-cell;
    width: 350px;
    height:50px;
    vertical-align: middle;
}
.account-bind .bind-tips span{
    display: inline-block;
    width: 100%;
    padding: 3px 0;
    font-size: 14px;
}
.account-bind .bind-tips span i{
    color: #63935c;
}
.bind-btn{
    position: absolute;
    top: 45px;
    right: 40px;
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #63935c;
    border-radius: 50px;
}
.bind-btn.istrue{
    color: #ffffff;
    background: #63935c;
}
.bind-btn.isfalse{
    color: #63935c;
}
.bind-btn .pop-tips{
    position: absolute;
    top: 52px;
    right: -40px;
    display: block;
    width: 230px;
    height: 30px;
    line-height: 30px;
    color: #63935c;
    border: 1px solid #63935c;
    border-radius: 50px;
    background: #ffffff;
}
.bind-btn .pop-tips:after{
    position: absolute;
    top: -10px;
    left: 120px;
    width: 10px;
    height: 18px;
    content: "";
    background: url(../images/icon-arrow-top.png) no-repeat;
}
/*  V认证
==============================================================================*/
.auth-main .auth-ways{
    display: block;
    width: 200px;
    height: 30px;
    line-height: 30px;
    float: left;
    font-size: 14px;
}
.auth-main .auth-ways input{
    vertical-align: middle;
    margin-top: -2px;
}
.auth-main .auth-tips{
    color: #000000;
    font-size: 14px;
    padding: 5px 0 5px 20px;
}
.auth-main .auth-tips span{
    color: #828483;
}
.auth-main .auto-imgs{
    padding-left: 20px;
    box-sizing: border-box;
}
.auth-main .auto-imgs-list{
    font-size: 0;
    float: left;
}
.auth-main .auto-imgs-list img{
    display: inline-block;
    width: 91px;
    height: 91px;
    margin-right: 10px;
}
.auth-main .auth-status .form-item{
    position: relative;
}
.auth-main .auth-status .form-item .label-item{
    margin-right: 10px;
}
.auth-main .auth-status .form-item span.text{
    color: #63935c;
}
.auth-main .auth-status .form-item button.btn.btn-default{
    float: right;
}
.auth-main .auth-status .form-item i.result{
    position: absolute;
    top:35px;
    left: 50px;
    display: block;
    max-width: 500px;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #df0615;
    border-radius: 10px;
}
.auth-main .auth-status .form-item i.result:after{
    position: absolute;
    top: -10px;
    left: 90px;
    content: "";
    width: 10px;
    height: 10px;
    background: url(../images/arrows.png) no-repeat;
    background-position: -170px 0;
}
/*  引导绑定
==============================================================================*/
.guidebind-main .guide .guide-tips{
    text-align: center;
    margin-top: 300px;
}
.guidebind-main .guide .guide-tips P{
    color: #828483;
    font-size: 14px;
    text-align: center;
}
.guidebind-main .guide .guide-tips span{
    color: #63935c;
}
.guidebind-main .form .form-item.form-msgcode input[type='text'],
.guidebind-main .form .form-item.form-ckcode input[type='text']{
    width: 130px;
}
.guidebind-main .form .form-item.form-ckcode img{
    margin-left: 20px;
    margin-top: 0;
}
/*  我的文章
==============================================================================*/
.articles{
    width: 100%;
    background: #ffffff;
}
.articles ul li{
    position: relative;
    padding: 20px 30px;
    box-sizing: border-box;
    cursor: pointer;
    border-bottom: 1px solid #eeeeee;
}
.articles ul li:hover a{
    display: block;
}
.articles ul li p{
    max-height: 600px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 10px;
}
.articles ul li span{
    color: #828483;
}
.articles .btn-edit,
.articles .btn-delete{
    position: absolute;
    top: 32px;
    display: none;
    width: 18px;
    height: 18px;
}
.articles .btn-edit{
    right: 70px;
    background: url(../images/edit.png) no-repeat;
    background-size: 100%;
}
.articles .btn-delete{
    right: 30px;
    background: url(../images/delete.png) no-repeat;
}
/*  投稿
==============================================================================*/
.contribute{
    padding: 20px;
    background: #ffffff;
}
.contribute .title{
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    box-sizing: border-box;
    border: 1px solid #63935c;
}
#article_content{
    width: 902px;
    height: 500px;
    margin-top: 100px;
}
.contribute label.error{
    top: 0;
    padding-left: 0;
}
.contribute .contr-type{
    margin-top: 20px;
}
.contribute .contr-type label{
    display: block;
    width: 80px;
    float:left;
    margin-top: 5px;
}
.contribute .contr-type span{
    display: block;
    padding: 3px 15px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #63935c;
    border-radius: 50px;
}
.contribute .contr-type span.active,
.contribute .contr-btns button.save{
    color: #ffffff;
    background: #63935c;
}
.contribute .contr-zqgy{
    position: relative;
    padding:15px 0 15px 20px;
    box-sizing: border-box;
}
.contribute .contr-zqgy input{
    position: absolute;
    top: 16px;
    left: 0;
}
.contribute .contr-btns button{
    display: block;
    float: left;
    padding: 7px 30px;
    border: none;
    color: #000000;
    cursor: pointer;
    margin-right: 10px;
    font-family: "Microsoft YaHei";
    border: 1px solid #63935c;
    border-radius: 50px;
    background: transparent;
}
.contr-yzcode{
    position: relative;
    height: 30px;
    margin-bottom: 10px;
}
.contr-yzcode input{
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    border: 1px solid #63935c;
    border-radius: 50px;
}
.contr-yzcode img{
    display: block;
    float: left;
    width: 70px;
    height: 30px;
    margin-left: 140px;
    margin-right: 20px;
}
.contr-yzcode a{
    display: block;
    float: left;
    margin-top: 5px;
    color: #63935c;
}
/*  我的通知
==============================================================================*/
.infos{
    background: #ffffff;
}
.infos .info-list li{
    position: relative;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #eeeeee;
}
.infos .info-list li:after{
    display: block;
    content: "";
    height: 0;
    clear: both;
    overflow: hidden;
}
.infos .info-list li img{
    display: block;
    float: left;
    margin-right: 30px;
    max-height: 100px;
    max-width: 100px;
}
.infos .info-list li .info-text{
    float: left;
    max-width: 550px;
    max-height: 100px;
    overflow: hidden;
}
.infos .info-list li .info-text p{
    font-size: 14px;
    margin-bottom: 5px;
}
.infos .info-list li .info-text a{
    color: #63935c;
}
.infos .info-list li .info-time{
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: block;
    font-size: 14px;
}

/*  我的私信
==============================================================================*/
.letter-edit{
    padding: 10px;
    background: #ffffff;
}
.letter-edit textarea{
    width: 100%;
    height: 110px;
    resize: none;
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    border: 1px solid #eeeeee;
}
.letter-edit .tips{
    text-align: right;
    padding-top: 10px;
    color: #828483;
}
.letter-edit .tips .btn-send{
    display: inline-block;
    padding: 3px 30px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    border: none;
    cursor: pointer;
    margin-left: 20px;
    background: #63935c;
    border-radius: 50px;
}
.letter-list{
    margin-top: 20px;
}
.letter-list .ucenter-sub-title{
    color: #000000;
}
.letter-list .ucenter-sub-title i{
    color: #63935c;
}
.letter-list .letters:after{
    display: block;
    content: "";
    height: 0;
    clear: both;
    overflow: hidden;
}
.letter-list .letters{
    margin-bottom: 20px;
}
.letter-list .letters img{
    display: block;
    width: 80px;
    height: 80px;
}
.letter-list .letters .letter-cont{
    position: relative;
}
.letter-list .letters .letter-cont p{
    color: #828483;
    font-size: 14px;
    padding-top: 5px;
}
.letter-list .letters.by-myself img{
    float: left;
    margin-left: 20px;
    margin-right: 30px;
}
.letter-list .letters.by-myself .letter-cont{
    display: inline-block;
    max-width: 550px;
    padding: 10px;
    border: 1px solid #63935c;
    border-radius: 10px;
}
.letter-list .letters.by-myself .letter-cont:after,
.letter-list .letters.by-others .letter-cont:after{
    position: absolute;
    top: 10px;
    width: 10px;
    height: 10px;
    content: "";
}
.letter-list .letters.by-myself .letter-cont:after{
    left: -10px;
    background: url(../images/arrows.png) no-repeat;
    background-position: 0 -44px;
}
.letter-list .letters.by-others img{
    float: right;
    margin-right: 20px;
    margin-left: 30px;
}
.letter-list .letters.by-others .letter-cont{
    display: block;
    max-width: 550px;
    padding: 10px;
    float: right;
    border: 1px solid #63935c;
    border-radius: 10px;
    background: #63935c;
}
.letter-list .letters.by-others .letter-cont:after{
    right: -10px;
    background: url(../images/arrows.png) no-repeat;
    background-position: -85px -11px;
}
.letter-list .letters.by-others .letter-cont span{
    color: #ffffff;
}
.letter-list .letters.by-others .letter-cont p{
    color: #b5b5b5;
}
/*  发布活动
==============================================================================*/
.btn-radio{
    position: relative;
    display: table;
    height: 40px;
    line-height: 40px;
    padding-left:23px;
    margin-right: 20px;
    float: left;
    vertical-align: middle;
}
.btn-radio input{
    position: absolute;
    top: 11px;
    left: 0;
}
#wraper-map,#test-map{
    width: 600px;
    height: 100px;
}
.map-tips{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100000;
    color: #FF0000;
}